@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(229deg, 57%, 11%);
  background-image: url("../images/bg-mobile.png");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  padding: 1.5em;
  width: 100%;
}

.component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.component__menu {
  background-color: hsl(228deg, 56%, 26%);
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 201px;
  border-radius: 10px 100px 10px 10px;
  padding: 2.5em;
}
.component__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.component__icon-link {
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  background-color: hsl(229deg, 57%, 11%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 10px;
}
.component__icon-link:hover {
  border-radius: 20px;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}
.component__storage {
  background-color: hsl(228deg, 56%, 26%);
  min-height: 10rem;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}
.component__text {
  color: hsl(243deg, 100%, 93%);
  font-size: 14px;
  letter-spacing: 0px;
  text-align: center;
}
.component__bar-back {
  margin-top: 1rem;
  background-color: hsl(229deg, 57%, 11%);
  height: 1.25rem;
  padding: 3px;
  border-radius: 10px;
}
.component__bar-front {
  background-image: -webkit-gradient(linear, left top, right top, from(hsl(6deg, 100%, 80%)), to(hsl(335deg, 100%, 65%)));
  background-image: linear-gradient(to right, hsl(6deg, 100%, 80%), hsl(335deg, 100%, 65%));
  height: 100%;
  border-radius: 8px;
  width: 0%;
  padding: 2px;
  position: relative;
  overflow: hidden;
}
.component__bar-front::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  right: 2px;
}
.component__labels {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: hsl(243deg, 100%, 93%);
  font-weight: 700;
  font-size: 12px;
}
.component__gb-left {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border-radius: 10px;
  width: 179px;
  min-height: 72px;
  background-color: #fff;
  color: hsl(229deg, 57%, 11%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
}
.component__gb-value {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 40px;
}
.component__gb-text {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 50%;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .component {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .component__menu {
    width: min(100%, 350px);
  }
  .component__storage {
    width: min(100%, 540px);
    height: 154px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 2.5rem;
  }
  .component__text {
    text-align: left;
  }
  .component__gb-left {
    position: relative;
    top: unset;
    left: 100%;
    bottom: 100%;
    -webkit-transform: translateY(calc(-50% - 47px)) translateX(-100%);
            transform: translateY(calc(-50% - 47px)) translateX(-100%);
    border-bottom-right-radius: 0;
  }
  .component__gb-left::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 22px solid transparent;
    border-right: 22px solid #fff;
  }
}